doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    hr
    a(class='button', href='/') Home
    | +
    a(class='button', href='/login') Login
    | +
    a(class='button', href='/register') Register
    | +
    a(class='button', href='/logout') Logout
    | +
    a(class='button', href='/messages') Messages
    | +
    a(class='button', href='/profile') Profile
    | +
    a(class='button', href='/search') Search
    | +
    a(class='button', href='/api') API
    | +
    a(class='button', href='/admin') Admin
    | +
    a(class='button', href='/session') Session
    hr
    block content
