doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(class='button', href='/') Home
    br
    a(class='button', href='/login') Login
    br
    a(class='button', href='/register') Register
    br
    a(class='button', href='/logout') Logout
    br
    a(class='button', href='/messages') Messages
    br
    a(class='button', href='/profile') Profile
    br
    a(class='button', href='/search') Search
    br
    a(class='button', href='/users') Users
    br
    a(class='button', href='/admin') Admin
    hr
    block content
