<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>

<body>

	<header>
        <% include ./partials/header %>
    </header>	

    <div class="container">
	    <img src="img/logo.jpg" class="img-circle img-responsive" alt="These people are running!">
	    <p class="lead">Run app is an app that will do something useful.</p>
	</div>
	

	<div class="container">
        <% if ( user ) { %>
			<h2>Hello <%=user%> </h2>
			<a href="/logout">Logout</a>
		<% } else { %>
			<h3><a href="/login">Login</a> or <a href="/register">Sign up</a></h3>
		<% } %>
	</div>

<!--     <div>    	

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="username" placeholder="User Name">
					</div>
					<span class="help-block"></span>
										
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="Password">
					</div>
                    <span class="help-block">Password error</span>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form>
			</div>
    	</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="#">Forgot password?</a>
			</div>
		</div>	    	
	</div> -->
</body>
</html>