<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>

<body>

	<header>
        <% include ./partials/header %>
    </header>	

    <div class="col-md-3">
    	<img src="/img/default_profile.jpg" class="img-circle"><br>
    	<h4>Photos (10)</h4>
    	<h4>References (8)</h4>
    	<h4>Friends (3)</h4>
    </div>

     <div class="col-md-9">
     	<h1><%=name%></h1>
    	<h3><%=city%></h3>
    	<p class="lead">I like to run etc etc etc</p>
    </div>


</body>

</html>