<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>

<body>

	<header>
        <% include ./partials/header %>
    </header>

	<h3>Showing results for <%=query%></h3>
	
	<p>The results go here</p>

</div>
</body>
</html>
